.icons-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
     flex-direction: row;
}