.icons-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.icon-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
     flex-direction: row;
}

.hero {
  background: linear-gradient(135deg, #0f2747, #173b63);
  color: white;
  text-align: center;
  padding: 100px 8%;
}

.badge {
  background: #d4af37;
  color: #0f2747;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 20px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.hero p {
  max-width: 600px;
  margin: 0 auto 30px;
  opacity: 0.9;
}

.hero-features {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 14px;
  opacity: 0.9;
}