/* Shared styles for all buttons in the application */
.btn-shared {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px 12px;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    color: inherit;
    background: transparent;
    width: min-content;
    height: 40px;
}

.btn-shared:hover {
    background-color: #415a77;
    transform: translateY(-1px);
    box-shadow: 0 2px 0 #d4af37;
}

.btn-shared:active {
    transform: translateY(2px);
    box-shadow: 0 2px 0 #c5a021;
}

.line-btn{
    border: 1px solid #c5a021;
    color: #c5a021;
    font-size: 14px;
    font-weight: 700;
}
.line-btn:hover{
    border: 1px solid #c5a021;
    background-color: #ffffff ;
    font-size: 14px;
    font-weight: 700;
}

.line-btn:active{
    transform: translateY(2px);
    box-shadow: 0 2px 0 #c5a021;
}


.btn-primary {
    width: max-content;
    background: #d4af37 !important;
    color: #0d1b2a !important;
    font-weight: 600 !important;
}

.btn-secondary {
    width: max-content;
    border: 1px solid rgba(255, 255, 255, 0.5) !important;
    background: rgba(13, 27, 42, 0.5) !important;
}

